<header class="header" id="header">
  <img class="header-logo" src="{{ settings.header_logo }}" />

  <nav class="nav">
    <a href="{{ settings.opensea_link }}" target="_blank">
      <img class="header-icon" src="{{ "opensea-icon-white.svg" | asset_url }}" />
    </a>
    <a href="{{ settings.twitter_link }}" target="_blank">
      <img class="header-icon" src="{{ "twitter.svg" | asset_url }}" />
    </a>
    <a href="{{ settings.discord_link }}" target="_blank">
      <img class="header-icon" src="{{ "discord.svg" | asset_url }}" />
    </a>

    <a class="header-txt" href="#mint">Mint</a>
    <a class="header-txt" href="#roadmap">Roadmap</a>
    <a class="header-txt" href="#team">Team</a>
    <a class="header-txt" href="#faq">FAQ</a>
  </nav>
</header>

<style>
  .header {
    padding: 20px var(--margin-main-desktop);
    width: 100vw;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 150;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    width: auto;
    height: 42px;
    display: block;
  }

  .header-icon {
    height: 22px;
    width: 22px;
  }

  .header .nav {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  .header-txt {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }

  .header.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
  }

  @media screen and (max-width: 768px) {
    .header {
      padding: 20px var(--margin-main-tablet);
    }

    .header .nav {
      gap: 24px;
    }
  }
</style>

<script>
  window.addEventListener('scroll', function() {
    const header = document.getElementById('header');
    if (window.scrollY > 80) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  });
</script>
