<div class="media-block-container">
  {% if left_image == true %}
    <div class="fluffy left-fluffy1" style="background-color: {{ fluffy1_color }}; opacity: 0.6"></div>
    <div class="fluffy left-fluffy2" style="background-color: {{ fluffy2_color }}; opacity: 0.6"></div>
  {% else %}
    <div class="fluffy right-fluffy1" style="background-color: {{ fluffy1_color }}; opacity: 0.6"></div>
    <div class="fluffy right-fluffy2" style="background-color: {{ fluffy2_color }}; opacity: 0.6"></div>
  {% endif %}

  {% if left_image == true %}
    <div class="media-block">
  {% else %}
    <div class="media-block row-reverse">
  {% endif %}

    <img src="{{ image }}"  class="media-block-image" />
    <div>
      <h2 class="media-block-title section-title">
        {{ title }}
      </h2>
      <div class="media-block-subtitle">
        {{ subtitle }}
      </div>
      <p class="media-block-description">
        {{ description }}
      </p>
    </div>
  </div>
</div>

<style>
  .media-block-container {
    position: relative;
  }
  
  .media-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px var(--margin-main-dekstop);
    gap: 96px;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .media-block-image {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: var(--rounded-lg);
  }

  .media-block-title {
    margin-bottom: 20px;
  }

  .media-block-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .media-block-description {
    font-size: 20px;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .media-block {
      flex-direction: column;
    }

    .media-block-image {
      width: 100%;
      margin: 0 0 50px 0;
    }
  }

  .fluffy {
    width: 465px;
    height: 391px;
    filter: blur(100px);
    position: absolute;
    z-index: 0;
  }

  .left-fluffy1 {
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }

  .left-fluffy2 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .right-fluffy1 {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

  .right-fluffy2 {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
</style>