<section id="mint" class="mint">
  <h2 class="section-title section-title-center"> {{ section.settings.title }}</h2>

  <div class="mint-container">
    <img class="featured-image" src="{{ section.settings.featured_image }}" />
    {% fetch condition = getClaimConditionById, chain_id: "{{ settings.primary_collection.chain.id }}", contract_address: "{{ settings.primary_collection.contract_address }}" | args: 0 %}
      <div class="mint-info-container">
        <div class="top">
          {%- comment -%}TODO: 動的に{%- endcomment -%}
          <div class="mint-date">Mint ends 2023, July 18 at 11:00 PM JST</div>
          <div class="mint-number">{{ condition.supplyClaimed }} / {{ condition.maxClaimableSupply }}</div>

          <div class="bar-box">
            {% assign bar_width = condition.supplyClaimed | divided_by: condition.maxClaimableSupply | times: 100 %}
            {% if bar_width >= 0 and bar_width <= 1 %}
              <div class="bar" style="width: 1%;"></div>
            {% else %}
              <div class="bar" style="width: {{ bar_width }}%;"></div>
            {% endif %}
          </div>

          <div class="price-container">
            <div class="crypto-price">
              {{ condition.pricePerToken | format_to_ether -}} ETH
            </div>
          </div>

          <div class="description">
            <p>Limit 3 per wallet</p>
          </div>
        </div>

        <div class="bottom">
          {% if connected_wallet != null %}
            <div class="connected-wallet">
              <div class="left-box">
                <img src="{{ 'wallet.svg' | asset_url }}" class="wallet-icon" />
                <div>
                  {{ connected_wallet.address | omit_address }}
                </div>
              </div>

              <div class="divider"></div>

              <div class="right-box">
                {%- comment -%}TODO: 動的に{%- endcomment -%}
                0.83ETH
              </div>
            </div>
          {% endif %}

          <div>
            {% if connected_wallet == null %}
              <button class="gradient-button" id="connect-button">
                Connect Wallet
              </button>
            {% else %}
              <form class="mint-form">
                <div class="number-input-box">
                  <button id="decrement-button" class="number-input-button">
                    <img class="number-input-button-icon" src="{{ 'minus.svg' | asset_url }}" />
                  </button>
                  <input id="mint-number-input" class="number-input" min="1" type="number" />
                  <button id="increment-button" class="number-input-button">
                    <img class="number-input-button-icon" src="{{ 'plus.svg' | asset_url }}" />
                  </button>
                </div>

                <button class="gradient-button" id="mint-button">
                  Mint
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfetch %}
  </div>
</section>

<style>
  .mint {
    padding: 32px var(--margin-main-dekstop);
    height: fit-content;
  }

  .mint-container {
    display: flex;
    gap: 64px;
    justify-content: center;
  }

  .featured-image {
    width: 40%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--rounded-lg);
  }

  .mint-info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mint-date {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  .mint-number {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 22px;
  }

  .bar-box {
    width: 80%;
    background-color: var(--gray);
    height: 14px;
    border-radius: 999px;
  }

  .bar {
    width: 40%;
    height: 14px;
    border-radius: 999px;
    background: var(--linear-gradient);
  }

  .price-container {
    display: flex;
    align-items: flex-end;
    margin-top: 42px;
    margin-bottom: 24px;
    gap: 24px;
  }

  .crypto-price {
    font-size: 28px;
    font-weight: 600;
  }

  .fiat-price {
    font-size: 20px;
    color: var(--text-description-color);
  }

  .mint-info .description {
    font-size: 20px;
    font-weight: 400;
  }

  .connected-wallet {
    border-radius: var(--rounded-lg);
    padding: 12px 24px;
    border: 1px solid var(--line-primary);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 24px;
    margin-bottom: 32px;
  }

  .wallet-icon {
    width: 22px;
    height: 26px;
  }

  .connected-wallet .left-box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .connected-wallet .divider {
    width: 1px;
    height: 29px;
    background: black;
  }

  .mint-form {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .number-input-box {
    background: var(--gray);
    padding: 16px 24px;
    border-radius: var(--rounded-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 200px;
  }

  .number-input {
    border: none;
    background: transparent;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: medium;
  }

  .number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .number-input[type=number] {
    -moz-appearance: textfield;
  }

  .number-input:focus {
    outline: none;
  }

  .number-input-button {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 999px;
    border: none;
    flex-shrink: 0;
    cursor: pointer;
  }

  .number-input-button-icon {
    height: 8px;
    width: 8px;
  }
</style>

<script type="module">
  import {
    w3mConnectors,
    EthereumClient,
    w3mProvider,
    WagmiCore,
    WagmiCoreChains,
    WagmiCoreConnectors
  } from "https://unpkg.com/@web3modal/ethereum@2.6.2"
  const { getWalletClient, getContract, writeContract } = WagmiCore;
  const btn = document.getElementById('mint-button')

  async function mint() {
    try {
      btn.disabled = true

      // TODO: チェーンが違う場合にハンドリング

      const walletClient = await getWalletClient()
      const abi = {{ settings.primary_collection.abi }}

      const contract = getContract({
        address: '{{ settings.primary_collection.contract_address }}',
        abi
      }, walletClient);
      const address = await walletClient.account.address
      const condition = await contract.read.getClaimConditionById([1])
      const pricePerToken = parseInt(condition.pricePerToken) / 10 ** 18

      // TODO: 個数によってハンドリング
      const price = pricePerToken * 1
      const quantityLimitPerWallet = Number(condition.quantityLimitPerWallet.toString())

      const res = await writeContract({
        address: '{{ settings.primary_collection.contract_address }}',
        abi: {{ settings.primary_collection.abi }},
        functionName: 'claim',
        args: [
          address, // receiver
          1, // quantity
          condition.currency, // currency
          condition.pricePerToken, // price per token
          [
            [], "3", "0", condition.currency
          ],
          "0x00" // data
        ],
        value: (price * 10 ** 18).toString() // native token value
      })
      console.log(res)
      // TODO: ミントが完了した場合の処理
    } catch (err) {
      // TODO: エラーハンドリング
      console.log("err", err)
    }
  }

  btn.addEventListener('click', mint)

  const input = document.getElementById('mint-number-input');
  const incrementButton = document.getElementById('increment-button');
  const decrementButton = document.getElementById('decrement-button');

  input.value = 1;

  incrementButton.addEventListener('click', () => {
    let currentValue = Number(input.value);
    input.value = currentValue + 1;
  });

  decrementButton.addEventListener('click', () => {
    let currentValue = Number(input.value);
    if(currentValue > 1) {
      input.value = currentValue - 1;
    }
  });
</script>

{% schema %}
  {
    "name": "Mint",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Season 1"
        },
      {
        "type": "image_picker",
        "id": "featured_image",
        "label": "Featured Image",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/secret.png"
      }
    ]
  }
{% endschema %}